//++++++++++++++++++++++++++++++++++++++++
//++	Grid
//++++++++++++++++++++++++++++++++++++++++


//++	Default Values
//++++++++++++++++++++++++++++++++++++++++
$gf-numColumns: 24 !default;
$gf-colPadding: 15px !default;
$gf-container-width: 80% !default;
$gf-float-direction: left !default;

//++	Functions
//++++++++++++++++++++++++++++++++++++++++
@function grid-calc( $colNumber ) {
	@return percentage( ($colNumber / $gf-numColumns) );
}

//++	Mixins
//++++++++++++++++++++++++++++++++++++++++
@mixin col($i) {
	width: grid-calc( $i );
	float: $gf-float-direction;
}
@mixin offset-col($i) {
	margin-left: grid-calc( $i); 
}


// Column Parent
.row {
	@include clearfix();

	> .container {
		width: $gf-container-width;
	}
}

.container{
	@include clearfix();
	margin: 0px auto;
	display: block;
	width: 100%;
}

// Columns
[class*='col-'] {
	padding-right: $gf-colPadding;

	&:last-of-type {
		padding-right: 0px;
	}
}

//++	Generate Columns
//++++++++++++++++++++++++++++++++++++++++

// Columns
@for $i from 1 through 24 {
  [class*='col-#{$i}'] { @include col($i); }
}

// Offset Columns
@for $i from 1 through 24 {
  [class*='col-offset-#{$i}'] {
  	@include offset-col($i);
  }
}

