//++++++++++++++++++++++++++++++++++++++++
//++	Grid
//++++++++++++++++++++++++++++++++++++++++

$gf-menu-width: 100% !default;
$gf-menu-font-size: 1.6 !default;
$gf-padding-value: 0px !default;
$gf-padding-value-top: $gf-padding-value !default;
$gf-padding-value-right: $gf-padding-value !default;
$gf-padding-value-bottom: $gf-padding-value !default;
$gf-padding-value-left: $gf-padding-value !default;
$gf-default-padding: $gf-padding-value-top $gf-padding-value-right $gf-padding-value-bottom $gf-padding-value-left !default;
$gf-menu-item-bg: #fff !default;

.navbar {
	@include clearfix();

	ul {
		@include clearfix();
		width: 100%;
		list-style: none;
		margin: 0px;
		padding: 0px;

		li {
			position: relative;

			> ul {
				display: none;
			}
		}
	}

	ul ul {
		min-width: 125px; 
	}

	ul > li > a {
		background-color: transparent;
	}

	a,
	ul ul > li > a {
		@include font-size($gf-menu-font-size);
		text-decoration: none;
		padding: $gf-default-padding;
		display: block;
		background-color: $gf-menu-item-bg;
		&:hover {
			background-color: darken($gf-menu-item-bg, 30%);
			color: lighten($gf-menu-item-bg, 40%);
		}
	}

	

	&[class*="navbar-horizontal"] {
		@extend .navbar-horizontal;
	}

	// Stacked Navbar
	&[class*="navbar-stacked"] {
		@extend .navbar-stacked;
	}

	// Justified Nav
	&[class*="navbar-justified"] {
		@extend .navbar-justified;
	}

}

// Horizontal Navbar
.navbar-horizontal{
	ul {
		li {
			display: inline-block;
			position: relative;

			&:hover > ul {
				display: block;
				position: absolute;
				top: 100%;
				z-index: 100;
				width: $gf-menu-width;
			}
		}
	}

	ul ul {
		display: none;

		li {
			display: block;
			position: relative;

			&:hover > ul {
				display: block;
				position: absolute;
				z-index: 100;
				top: -1px;
				left: $gf-menu-width;
				width: $gf-menu-width;

				li {
					position: relative;
				}
			}
		}
	}

	ul ul ul {
		display: none;

		li {
			display: block;
			position: relative;

			&:hover > ul {
				display: block;
				position: absolute;
				z-index: 100;
				top: 0px;
				left: $gf-menu-width;
				width: $gf-menu-width;

				li {
					position: relative;
				}
			}
		}
	}

	a {
		display: block;
	}
}

.navbar-stacked {
	ul {
		max-width: $gf-menu-width;

		li {
			display: block;
			width: 100%;
			position: relative;

			&:hover > ul {
				min-width: $gf-menu-width;
				display: block;
				position: absolute;
				top: -1px;
				left: $gf-menu-width;
			}
		}
	}

	ul ul {
		max-width: $gf-menu-width;

		li {
			display: block;
			width: 100%;
			position: relative;

			&:hover > ul {
				min-width: $gf-menu-width;
				display: block;
				position: absolute;
				top: -1px;
				left: $gf-menu-width;
			}
		}
	}

	ul ul ul {
		display: none;

		li {
			display: block;
			position: relative;

			&:hover > ul {
				display: block;
				position: absolute;
				z-index: 100;
				top: 0px;
				left: $gf-menu-width;
				width: $gf-menu-width;

				li {
					position: relative;
				}
			}
		}
	}

}

.navbar-justified {
	ul {
		width: 100%;

		li {
			float: none;

			a {
				display: block;
				text-align: center;
			}

			ul {
				width: $gf-menu-width;
			}
		}

		> li {
			display: table-cell;
			width: 1%;
		}
	}

	ul ul li {
		width: $gf-menu-width;
	}
}

[data-menu*="navbar-collapse"] {
	@media (max-width: 480px)
	{
		ul {
			display: none;
		}
	}
	
}