img[class*="align"] {
    max-width: 100%;
    height: auto;
}

.alignnone {
    margin: 5px 20px 20px 0;
}
a img.alignnone{
    margin: 5px 20px 20px 0;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}
a img.alignright{
    float: right;
    margin: 5px 0px 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
a img.alignleft{
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto; 
}

a img.aligncenter{
    display: block;
    margin-left: auto;
    margin-right: auto
}

img.alignleft,
img.alignright,
img.alignright,
img.aligncenter {
    max-width: 100%;
    height: auto;

    @media (max-width: 320px ) {
        padding-top: 0px !important;
        padding-right: 0px !important;
        padding-bottom: 0px !important;
        padding-left: 0px !important; 
        margin: 0px;
    }
    @media (min-width: 321px ) and (max-width: 768px ) {
        padding-top: 0px !important;
        padding-right: 0px !important;
        padding-bottom: 0px !important;
        padding-left: 0px !important; 
        margin: 0px;
    }
}